---
export interface Props {
  children?: string;
  /** @deprecated Use children instead */
  title?: string;
  variant?: 'primary' | 'secondary' | 'warning' | 'start';
  href?: string;
  /** @deprecated Use href instead */
  link?: string;
  type?: 'button' | 'submit' | 'reset';
  disabled?: boolean;
  preventDoubleClick?: boolean;
  class?: string;
  name?: string;
  value?: string;
  id?: string;
}

const {
  children,
  variant = 'primary',
  href,
  type = 'button',
  disabled = false,
  preventDoubleClick = false,
  class: className = '',
  name,
  value,
  id
} = Astro.props;

// Support legacy props
const buttonText = children || title;
const buttonHref = href || link;

// Build CSS classes
const baseClasses = 'govuk-button';
const variantClasses = {
  primary: '',
  secondary: 'govuk-button--secondary',
  warning: 'govuk-button--warning',
  start: 'govuk-button--start'
};

const classes = [
  baseClasses,
  variantClasses[variant],
  className
].filter(Boolean).join(' ');

const dataAttrs: Record<string, string> = {
  'data-module': 'govuk-button'
};

if (preventDoubleClick) {
  dataAttrs['data-prevent-double-click'] = 'true';
}

const commonProps = {
  class: classes,
  id,
  ...dataAttrs
};
---

{buttonHref ? (
  <a
    href={buttonHref}
    role="button"
    draggable="false"
    {...commonProps}
  >
    {buttonText}
    {variant === 'start' && (
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    )}
  </a>
) : (
  <button
    type={type}
    name={name}
    value={value}
    disabled={disabled}
    aria-disabled={disabled}
    {...commonProps}
  >
    {buttonText}
    {variant === 'start' && (
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    )}
  </button>
)}